# CS-UY 3943 - Introduction of Data Science
## Final Project: Tweet Sentiment Extraction

Please edit the cell below to add your name, NetID, assigned group, and group members for this assignment. **Complete this section before proceeding to the assignment questions.**

Name:  Taylor Wong
NetID:  tw1835
Group Member 1:  Thomas Scarola
NetID:  tws285
***

### Preliminary Data Analysis

#### Include 1 or 2 plots or data tables that demonstrate initial EDA efforts

1\. Read the data file `train.csv` into your program as a `pandas` `DataFrame`

In [10]:
#Place your code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

train_df = pd.read_csv('train.csv')
train_df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [12]:
from sklearn import datasets
plt.style.use('ggplot') 
iris = datasets.load_iris() 
X = iris.data     
y = iris.target   
df = pd.DataFrame(X, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

#### Brief discussion of what EDA has revealed about the data

In [7]:
cases.index.freq = cases.index.inferred_freq

NameError: name 'cases' is not defined

<p>
<span style="color:blue">
Graphically, it looks like its trending upwards, and that would make it not stationary. also 
1st element of augmented dickey-fuller is 0.05<, so we cant reject that it is non-stationary (aka don't know, but it could be non-stationary)
</span>
</p>

3\. Plot the autocorrelation function (ACF) and partial autocorrelation function (PACF) of the cases timeseries with 20 lags displayed.